* {
   margin: 0;
   border: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
}

body {
   background-color: #080808;
   color: white;
}

#header {
   background-image: url("../images/background.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
   background-attachment: fixed;
}

nav ul li {
   display: inline-block;
   list-style: none;
   margin: 5px 10px;
}

nav ul li a {
   position: relative;
}

nav ul li a::after {
   content: "";
   background-color: #ff004f;
   width: 0%;
   height: 3px;
   position: absolute;
   left: 0;
   margin-top: 22px;
   transition: 0.5s;
}

nav ul li a:hover::after {
   width: 100%;
}





.tab-link {
   cursor: pointer;
   position: relative;
}

.tab-link::after {
   content: "";
   background-color: #ff004f;
   width: 0%;
   height: 3px;
   position: absolute;
   left: 0;
   margin-top: 20px;
   transition: 0.5s;
}

.tab-link:hover::after {
   width: 100%;
}

.active-link::after {
   width: 50%;
}

.tab-contents {
   display: none;
}

.tab-contents.active-tab {
   display: block;
}
